* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }



  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(assets/pexels-photo.webp);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    overflow: hidden;
  }


  .container-input {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 18px;
    margin: 35px 0;
    display: flex;
    border-radius: 12px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.8);
  }


  .container-input input {
    background-color: transparent;
    border: 0;
    outline: none;
    font-size: 16px;
    color: #000000;
    margin-right: 8px;
  }


  .container-input input::placeholder {
    color: #000000ab;
  }


  .container .title {
    font-size: 58px;
    animation: flipTitle 1s ease;
  }


  @keyframes flipTitle {

    from {
        transform: rotateX(90deg);
    }


    to {
        transform: rotateX(0deg);
    }
    
  }


.buttonSearch {
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.5s;
}


.buttonSearch:hover {
    transform: scale(1.2);
}


.main {
    width: 500px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 20px 5px;
}



.main h2 {
    margin-bottom: 14px;
    font-size: 26px;
}


.main span {
    margin-bottom: 12px;
    font-weight: 600;
    text-transform: capitalize;
}


@media (max-width: 620px) {

  .container .title {
    font-size: 44px;
  }


  .main h2 {
    font-size: 22px;
  }


  .main span {
    font-size: 14px;
  }


  .main {
    width: 80%;
    min-height: 250px;
  }


}




@media (max-width: 400px) {

  .container .title {
    font-size: 30px;
  }


  .main h2 {
    font-size: 18px;
  }


  .main span {
    font-size: 13.5px;
  }


  .main {
    width: 80%;
    min-height: 200px;
  }


}

